<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icons</title>
</head>
<body>
    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-choco"></use>
        <span class="name">icon-choco</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-coin"></use>
        <span class="name">icon-coin</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-spoon"></use>
        <span class="name">icon-spoon</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-choco-logo"></use>
        <span>icon-choco-logo</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-hamburger"></use>
        <span>icon-hamburger</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-scroll-down"></use>
        <span>icon-scroll-down</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-close"></use>
        <span>icon-close</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-instagram"></use>
        <span>icon-instagram</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-twitter"></use>
        <span>icon-twitter</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-flag"></use>
        <span>icon-flag</span>
    </svg>

    <svg width="32" height="22" class="icon">
        <use href="/src/images/sprite.svg#icon-mastercard"></use>
        <span>icon-mastercard</span>
    </svg>
</body>
</html>